NODE_ENV="development"
NGROK_AUTH="false"
PORT="3000"
DEFAULT_MPI_IMAGE="terminal-web:latest"
K8S_NAMESPACE="default"
SESSION_SECRET="chave-secreta"
MONGO_DB_URI="uri-banco-mongoDB"
LTI_ENCRYPTION_KEY="chave-lti-secreta"
LTI_PLATFORM_URL="https://moodle.instituicao.edu"
LTI_PLATFORM_NAME="Moodle"
LTI_CLIENT_ID="12345"
LTI_AUTH_ENDPOINT="https://moodle.instituicao.edu/auth.php"
LTI_TOKEN_ENDPOINT="https://moodle.instituicao.edu/token.php"
LTI_KEYSET_ENDPOINT="https://moodle.instituicao.edu/certs.php"
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"