<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="user-id" content="{{USER_ID}}">
    <title>Terminal Web</title>
    <meta name="image" content="{{IMAGE}}">
    <link rel="stylesheet" href="/xterm/css/xterm.css" />
    <link rel="stylesheet" href="/css/global.css"/> 
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <nav> 
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/documentation">Como usar</a></li>
        </ul>
        <div id="timer-bar">
            <div id="timer">
                <span>Tempo Restante:&nbsp;</span>
                <span id="countdown-display">--:--:--</span>
            </div>
            <button id="btn-kill-session" class="btn-danger">Encerrar Sessão</button>
            <button id="btn-extend-24h" class="btn-extend-24h">+24 Horas</button>
        </div>
    </nav>

    
    <div id="setup-container">
        <h1>Terminal Web - Bem-vindo, {{NOME_USUARIO}}!</h1>
        <h2>Configuração do Cluster</h2>
        <p>Você está usando a imagem: {{IMAGE}}</p>
        <p>Cada sessão tem um tempo máximo de 2 horas</p>
        <p>Quantos nós (máquinas) você deseja para sua aplicação?</p>
        <form id="setup-form">
            <input type="number" id="num-machines" value="2" min="1" required>
            <select id="select-backup">
            <option value="">-- Começar do Zero (Vazio) --</option>
            </select>
            <button class="init-terminal" type="submit">Iniciar Terminal</button>
        </form>

        <div class="files">
        <h3 class="my-files">📂 Meus Arquivos</h3>
        <ul id="download-list">
            <li style="color:#777">Carregando...</li>
        </ul>
    </div>
    </div>

    <div id="terminal-container">
        <div id="container-principal">
            <div id="machine-info">
                <h3> 🖥️ Máquinas Disponíveis:</h3>
                <ul id="machine-list"></ul>
            </div>

            <div id="backup-ui">
                <div class="backup-container">
                    <h3 style="margin: 0; font-size: 1.1em;"> 💾 Salvar Progresso</h3>
                    <small id="status-cota">
                        Calculando...
                    </small>
                </div>

                <div id="area-salvar-atual">
                    <span style="color: #ddd;">
                        Arquivo atual: <strong id="lbl-nome-atual" style="color:#fff; margin-left:5px;">--</strong>
                    </span>
                    <button id="btn-salvar-atual">
                        💾 Salvar
                    </button>
                </div>

                <div class="input-backup">
                    <input type="text" id="nome-backup" placeholder="Nome do novo arquivo...">
                    <button id="btn-salvar-novo">
                        Salvar Novo
                    </button>
                </div>
            </div>
        </div>
        <div id="terminal-wrapper">
            <div id="terminal"></div>
        </div>
    </div>

    <div id="session-modal">
        <div class="session-content">
            <h2>⚠️ A sessão vai expirar!</h2>
            <p>Para liberar recursos, sua sessão será encerrada em breve.</p>
            <p>Você ainda está utilizando?</p>
            <div>
                <button id="btn-extend">
                    Sim, preciso de mais tempo
                </button>
                <button id="btn-ignore">
                    Não, o tempo restante é suficiente
                </button>
            </div>
        </div>
    </div>

    <div id="expired-modal">
        <div class="expired-content">
            <h2>⚠️ Sessão Encerrada!</h2>
            <p>A sua sessão chegou ao fim.</p>
            <button id="btn-reload" class="btn-primary">
                Voltar ao Início
            </button>
        </div>
    </div>

    <div id="custom-modal">
        <div class="custom-modal-content">
            <h2 id="custom-modal-title">Título</h2>
            <p id="custom-modal-message" style="margin: 20px 0; color: #ccc; line-height: 1.5;"></p>
        
            <div style="display: flex; justify-content: center; gap: 15px; margin-top: 20px;">
                <button id="custom-modal-cancel" class="btn-danger" style="display: none;">Cancelar</button>
                <button id="custom-modal-confirm" class="btn-primary">OK</button>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/xterm/lib/xterm.js"></script>
    <script src="/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
    <script src="client.js"></script>
</body>

</html>
