<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Terminal MPI</title>
    <meta name="mpi-image" content="{{MPI_IMAGE}}">
    <link rel="stylesheet" href="/xterm/css/xterm.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
    <h1>Cluster via Web Terminal - Bem-vindo, {{NOME_USUARIO}}!</h1>

    <div id="setup-container">
        <h2>Configuração do Cluster</h2>
        <p>Você está usando a imagem: {{MPI_IMAGE}}</p>
        <p>Quantos nós (máquinas) você deseja para sua aplicação MPI?</p>
        <form id="setup-form">
            <input type="number" id="num-machines" value="2" min="1" required>
            <button type="submit">Iniciar Terminal</button>
        </form>
    </div>

    <div id="terminal-container">
        <div id="machine-info">
            <h3>Máquinas Disponíveis:</h3>
            <ul id="machine-list">
                </ul>
        </div>
        <hr> <div id="terminal"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/xterm/lib/xterm.js"></script>
    <script src="/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
    <script src="client.js"></script>
</body>
</html>