<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Terminal</title>
    <meta name="image" content="{{IMAGE}}">
    <link rel="stylesheet" href="/xterm/css/xterm.css" />
    <link rel="stylesheet" href="/css/global.css"/> 
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <nav> 
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/documentation">Como usar</a></li>
        </ul>
        <div id="timer-bar">
            <div id="timer">
                <span>Tempo Restante:&nbsp;</span>
                <span id="countdown-display">--:--:--</span>
            </div>
            <button id="btn-kill-session" class="btn-danger">Encerrar Sessão</button>
            <button id="btn-extend-24h" class="btn-extend-24h">+24 Horas</button>
        </div>
    </nav>

    <h1>Cluster via Web Terminal - Bem-vindo, {{NOME_USUARIO}}!</h1>

    <div id="setup-container">
        <h2>Configuração do Cluster</h2>
        <p>Você está usando a imagem: {{IMAGE}}</p>
        <p>Cada sessão tem um tempo máximo de 2 horas</p>
        <p>Quantos nós (máquinas) você deseja para sua aplicação?</p>
        <form id="setup-form">
            <input type="number" id="num-machines" value="2" min="1" required>
            <button type="submit">Iniciar Terminal</button>
        </form>
    </div>

    <div id="terminal-container">
        <div id="machine-info">
            <h3>Máquinas Disponíveis:</h3>
            <ul id="machine-list">
            </ul>
        </div>
        <hr>
        <div id="terminal"></div>
    </div>

    <div id="session-modal">
        <div class="session-content">
            <h2>⚠️ A sessão vai expirar!</h2>
            <p>Para liberar recursos, sua sessão será encerrada em breve.</p>
            <p>Você ainda está utilizando?</p>
            <div>
                <button id="btn-extend">
                    Sim, preciso de mais tempo
                </button>
                <button id="btn-ignore">
                    Não, o tempo restante é suficiente
                </button>
            </div>
        </div>
    </div>

    <div id="expired-modal">
        <div class="expired-content">
            <h2>⚠️ Sessão Encerrada!</h2>
            <p>A sua sessão chegou ao fim.</p>
            <button id="btn-reload">
                Voltar ao Início
            </button>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/xterm/lib/xterm.js"></script>
    <script src="/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
    <script src="client.js"></script>
</body>

</html>
